@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Margarine';
    src: url('./Fonts/Margarine/Margarine-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
